* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --transparent-white: rgba(255,255,255,.4);
    --red: #ff0000;
    --green: #008000;
    --strong-pink: #ff59c7;
    --soft-pink: #ffa6fcaa;
    --soft-black: #333;
}

body {
    background-color: var(--soft-pink);
    width: 100%;
}

ul {
    list-style: none;
}

h1 {
    font-size: min(4rem, 8vw);
}

h3 {
    font-size: min(1.5rem, 4vw);
}

p {
    margin-top: .5rem;
    font-size: .8rem;
}

.container {
    width: min(1920px, 100%);
    padding: 1rem;
}

header {
    background-color: var(--black);
    color: var(--white);
    padding: auto 1rem;
    text-align: center;
    width: 100%;
    user-select: none;
}

footer {
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    padding: 1rem 0;
    user-select: none;
}

form {
    width: 100%;
    padding-bottom: 4rem;
}

form ol {
    padding: 1rem auto 3rem;
}

section {
    background-color: var(--strong-pink);
    padding: .5rem;
    text-align: center;
}

li > p {
    color: var(--red);
    padding: 0;
}

ol > li {
    font-size: min(1.5rem, 4vw);
    font-weight: 600;
    margin: 1.5rem;
}

ul > li {
    font-size: min(1rem, 3vw);
    font-weight: 500;
    color: var(--soft-black);
    margin-top: 5px;
}

input[type='radio'] {
    width: 1.2rem;
    height: 1.2rem;
    margin: 1px 5px;
    margin-left: 0;
    vertical-align: middle;
}

button {
    display: block;
    position: relative;
    padding: .5rem 1rem;
    border: 1px solid var(--strong-pink);
    color: var(--white);
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    user-select: none;
}

button:active {
    transform: scale(98%);
}

button#submit-btn {
    background-color: var(--black);
}

button#submit-btn:disabled {
    background-color: var(--soft-black);
    cursor: not-allowed;
}

button#submit-btn:disabled:active {
    transform: scale(1);
}

button#submit-btn:disabled:hover::before {
    transform: translate(100%, -50%);
    transition: none;
}

button#review-btn {
    background-color: var(--strong-pink);
}

button::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(140%, -50%) rotate(40deg);
    width: 100px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(var(--strong-pink), var(--soft-pink), transparent);
    z-index: 0;
    transition: transform 400ms ease-in-out 100ms;
}

button:hover::before {
    transform: translate(-300%, -50%);
    transition: transform 400ms ease-in-out;
}

button#review-btn::before {
    background: radial-gradient(var(--black), var(--soft-black), transparent);
}

#scroll-btn {
    bottom: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    position: fixed;
    background-image: url('./image/scroll-to-bottom.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    background-color: var(--strong-pink);
    border: 2px solid rgba(0,0,0,.5);
    box-shadow: 0 0 10px;
    border-radius: 50%;
}

.correct {
    color: var(--green);
}

.user-score-container {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(3px);
    background-color: var(--transparent-white);
}

.score-window {
    background-color: var(--white);
    width: min(24rem);
    padding: 2rem;
    margin: 0 auto;
    transform: scale(0);
    animation: increase-size 200ms ease-in-out 0ms forwards;
}

.user-score-container.review > .score-window {
    transform: scale(1);
    animation: decrease-size 200ms ease-in-out 0ms forwards;
}

@keyframes increase-size {
    to {transform: scale(1);}
}

@keyframes decrease-size {
    to {transform: scale(0);}
}

.score-window p {
    font-size: 1.2rem;
    margin: 1.5rem 0 .5rem;
}

#score {
    display: block;
    font-size: 4rem;
    font-weight: 200;
}

.d-none {
    display: none;
}